{{- /* Get post description or generate it from the post content */ -}}
{{- $max_length := default 200 .Params.max_length -}}

{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description | plainify | htmlUnescape -}}
{{- else if .Params.description -}}
  {{- $description = .Params.description | plainify | htmlUnescape -}}
{{- else -}}
  {{- $description = .Summary | plainify | htmlUnescape | replaceRE `\s+` ` ` -}}
{{- end -}}

{{- (trim $description " ") | truncate $max_length -}}
